.item {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 500px;
}


.info {
    text-align: center;
    align-self: start;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    flex-grow: 1;
    height: 100%;
}

.title-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 100%;
}

.button-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0;
    gap:5px;
}


.count {
    cursor: default;
    pointer-events: none;
}

.detail {
    all: unset;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid wheat;
    width: 40px;
    padding: 2px 10px;
    font-size: 14px;
    border-radius: 10px;
}

.item-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.info-description,
.info-price,
.info-category {
    font-size: 16px;
    line-height: 1.4;
    word-break: break-all;
    width: 100%;
}
.info-category {
    text-align: center;
    margin-top: 10px;
}

.buy {
    all: unset;
    width: 40px;
    font-size: 14px;
    border: 1px solid wheat;
    padding: 2px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: rgba(217, 196, 196, 0.4);
    cursor: pointer;
}
.buy:hover, .detail:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.buy_added {
    background-color: rgb(16, 126, 82);
}

.item-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    text-align: center;

    border: 1px solid wheat;
    padding: 4px 10px;
    border-radius: 10px;
}

.info-price {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    width: 80%;
    border: 1px solid wheat;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.info-description {
    flex-grow: 1;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: start;
}

.item-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 60%;
    border-radius: 20px;
    flex-grow: 1;
}
